* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    height: 100vh;
}

.calc-container {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1;
    width: 100%;
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    flex: 0 1 300px;
    min-width: 150px;
}

#display {
    flex: 0 0 150px;
    background-color: #a7a7a7;
    border: 10px solid #131212;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    display: flex;
    flex-flow: row wrap;
    align-items: end;
    justify-content: end;
}

#text {
    flex: initial;

    padding: 5px 10px;
    margin: 2px 5px;

    font-size: 25px;
    font-weight: bold;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    border: 5px solid #131212;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    background-color: #a7a7a7;
}

#buttons div {
    display: flex;
    justify-content: start;

    flex: 1 0 50px;
}

#buttons div button {
    flex: 1;

    background-color: #3b80e7;

    font-weight: 500;
    font-size: 18px;

    border: 2px solid #222121;
    border-radius: 1px;
}

footer {
    flex: initial;
    align-self: stretch;

    text-align: center;

    margin-bottom: 10px;
    padding: 20px 0;
    background-color: #131212;
    color: #ece4e4;
    font-weight: bolder;
}

